* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    background-color: #121212;
}

.title-header{
    color: #FFFFFF;
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    height: 100%;
    align-items: center;
}

.search-header{
    display: flex;
    width:80%;
    padding:0;
    background-color: #2E2E2F;
    border-radius: 0.375em;
    justify-content: flex-end;
    align-items: center;
    margin-top: 2em;    
    position:absolute;
    bottom: -0.75em;
}

.search-style {
    width:63%;
    background: transparent;
    outline: none;
    border:none;
    color: #A5A5A5;
}

.main-page-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.search-btn-style {
    width: 27%;
    height: 100%;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    border-radius: 0.375em;
    border: none;
    outline: none;
    background-color: #4B4B4B;
    color: #FFFFFF;
}

.glass-style{
    color: #9CA3AF;
}

.header-bg{
    display: flex;
    flex-direction: column;
    align-items: center;  
    width: 100%;
    height: 25vh;
    background-image: url('./images/bg-img.png');  
    position: relative;
}

.movies{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    color: white;
}

.movies > img {
    height: 16%;
    width: 17.5%;
    object-fit: contain;
    align-self: center;
}

.show-img > img {
    width: 19%;
    height: 100%;
    object-fit: contain;
    margin-right: 0.75em;
}

.show-title-rating {
    display: flex;
    align-items: baseline;
}

.show-img {
    display: flex;
    padding-bottom: 0.5em;
    padding-top: 0.5em;
    border-bottom: 1px solid lightgray;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.show {
    padding-top: 4em;
}

.runtime-genre-watchlist{
    display: flex;
    justify-content: start;
}

.show-img * {
    margin: 0;
    padding: 0;
}

.show-title-rating > h6 {
    font-size: 1.1rem;
    margin-right: 0.5em;
}

.show-title-rating > i {
    font-size: 0.6rem;
    margin-right: 0.5em;
}

.runtime-genre-watchlist {
    font-size: 0.9rem;
    margin-bottom: 0.4em;
    margin-top: 0.4em;
}

.show-content{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

a {
    font-size: 0.6rem;
}

.short-plot > P{
    font-size: 0.9rem;
    line-height: 1.3rem;
}

.short-plot > p > #read-more{
    font-size: 0.8rem;
    background: transparent;
    color: whitesmoke;
    outline: none;
    border: none;
}

.runtime-genre-watchlist > p {
    margin-right: 1em;
}

.movies, .header-bg {
    max-width: 700px;
}

.short-plot button {
    background: transparent;
    outline: none;
    border: none;
    color: whitesmoke;
    font-size: 0.8rem;
}

@media (min-width: 600px){
    html {
        font-size: 140%;
    }
}

@media (max-width: 320px){
    html {
        font-size: 70%;
    }
}

#no-shows-id {
    color: #787878;
    align-self: center;
    font-size: 0.8rem;
}